@using BPR.Mediator.Services
@using BPR.Mediator.Interfaces
@inject IArchitectureModelService ArchitectureModelService
@inject IJSRuntime JS

@if (!_architectureOptions.Any())
{
    <p>No architecture models found!</p>
}
else
{
    <select id="selectArchitecture" class="form-control form-select" @onchange="OnSelectedValueChanged">
        <option hidden>Select an architecture model</option>
        @foreach (var op in _architectureOptions)
        {
            <option value="@op.Id">@op.Name</option>
        }
    </select>
}