@if (RuleTypes != null && RuleTypes.Any())
{
    @foreach (var item in RuleTypes)
    {
        <div class="form-check">
            <input class="custom-checkbox" type="checkbox" id="@item.Name" checked= "@item.IsChecked" @onchange="(e) => CheckboxChangedAsync(e, item)" />
            <label for="@item.Name">@item.Name</label>
        </div>
    }
}