@using Radzen.Blazor

<div class="d-flex justify-content-center">
    <RadzenChart Style="height: 400px; width: 100%">
        <RadzenPieSeries 
            Radius="150" 
            Fills=@(new [] {"#6f13a9", "#9b83af", "#955cb8", "#cccccc" }) 
            Data="@_data"
            Title="Revenue"
            CategoryProperty="Label"
            ValueProperty="Value">
            <RadzenSeriesDataLabels Visible="@ShowDataLabels" />
        </RadzenPieSeries>
        <RadzenLegend Position="LegendPosition.Bottom" />
    </RadzenChart>
</div>

