@using Microsoft.AspNetCore.Components.Forms
@using BPRBlazor.Services
@using BPRBlazor.Components.AnalysisSetup
@using BPRBE.Services
@inject IHttpService HttpService
@inject IDependencyComponentService DependencyComponentService
@inject ICodebaseService CodebaseService
@implements IDisposable

@page "/"

<label for="inputFile" class="btn btn-primary me-1">
    <InputFile id="inputFile" class="d-none" OnChange="LoadCodeSource" accept=".7z" />
    Upload src.7z file
</label>
<p>@_errorMessage</p>
<div class="container-fluid">
    <div class="row">
        @if (_unmappedNamespaceComponents.Any())
        {
            <div class="col-lg-3 mt-3">
                <p >Unmapped namespaces:</p>
                <div class="unmapped-namespaces">
                    @foreach (var component in _unmappedNamespaceComponents)
                    {
                        <NamespaceComponent Namespace="component"/>
                    }
                </div>
            </div>

            <div class="col-lg-9">
                @if (_architecturalModel != default!)
                {
                    <Architecture ArchitecturalModel="_architecturalModel"/>
                }
            </div>
        }
        else
        {
            <div class="col-12">
                @if (_architecturalModel != default!)
                {
                    <Architecture ArchitecturalModel="_architecturalModel"/>
                }
            </div>
        }
    </div>
</div>