.unmapped-namespaces {
    border: dashed 1px #b3b3b3;
}

.namespace-container {
    border: dashed 1px #b3b3b3;
    padding: .6rem;
    min-height: 4rem;
}

.namespace-component {
    margin: .25rem;
    display: inline-block;
    cursor: move;
}

.namespace-component p {
    margin: 0;
}
