@page "/manage-models"
@using BPRBlazor.Components.Common
@using BPRBlazor.Components.ModelManagement
@using AutoMapper
@inject IMapper Mapper

<h3>Create or edit an architecture model</h3>

@if (_selectedModel == null)
{
    <SelectArchitectureComponent ArchitectureModelChanged="HandleModelChange"/>
    <button type="button" class="btn btn-secondary my-2" @onclick="CreateNewArchitecture">Create new architecture model</button>
}
else
{
    <CreateEditArchitectureComponent ModelViewModel="@(_selectedModel)" isEditable="true"/>
}

