@using BPRBlazor.Components.Results
@using BPRBlazor.Components.Common
@using BPR.Mediator.Services
@using AutoMapper
@using BPR.Mediator.Interfaces
@inject IResultService ResultService
@inject IJSRuntime JsRuntime
@inject IMapper Mapper


@page "/results/{id:guid}"

<div class="float-end">
    <button class="btn btn-primary" @onclick="DownloadPdf">Download as PDF</button>
</div>

<h1 class="result-pdf mb-3">Analysis results</h1>
@if (_result is null) 
{
    <h2>No results to display...</h2>
}
else 
{
    <div class="result-pdf">
        @if (_result.Violations.Count != _filteredViolations.Count)
        {
            <h3>Showing @_filteredViolations.Count of the @_result.Violations.Count total violation@(_result.Violations.Count != 1 ? "s" : "")</h3>
        }
        else
        {
            <h3>Showing @_result.Violations.Count total violation@(_result.Violations.Count != 1 ? "s" : "")</h3>
        }
    </div>
    <p>Filter violations based on type</p>
    <SelectViolationTypeComponent OnChange="HandleViolationType" Violations="GetCurrentViolationTypes()"/>
    <div class="result-pdf">
        <Virtualize Items="_filteredViolations" Context="violation">
            <div class="violation">
                <Violation Model="violation" />
            </div>
        </Virtualize>
    </div>
}