@using BPR.Mediator.Services
@using AutoMapper
@using BPR.Mediator.Interfaces
@using BPRBlazor.Components.Results

@inject IResultService ResultService
@inject IMapper Mapper

@page "/results"

<h3>Results</h3>

@if (_results.Any())
{
    <div class="d-flex flex-wrap">
        @foreach (var result in _results)
        {
            <ResultRow Result="result" ResultDeleted="HandleResultDeleted"/>
        }
    </div>
}