@using AutoMapper
@using BPR.Mediator.Interfaces
@using BPRBlazor.Components.Results

@inject IResultService ResultService
@inject IMapper Mapper

@page "/results"

<h3>Results</h3>

@if (!_results.Any())
{
    <p>No analyses found</p>
}
else
{
    <div class="table-container text-nowrap overflow-x-scroll">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Started</th>
                <th>Ended</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var result in _results)
            {
                <ResultRow Result="result" ResultDeleted="HandleResultDeleted"/>
            }
            </tbody>
        </table>
    </div>
}