@using BPRBlazor.Components.Results
@using BPRBlazor.State
@inject StateContainer StateContainer
@implements IDisposable
@page "/results"

<div class="float-end">
    <DownloadButton/>
</div>

<div id="result-details">
    <h1>Results</h1>

    @if (_resultModel is null) {
        <h2>No results to display...</h2>
    }
    else {
        <h2>Score: @($"{_resultModel.Score:0.00}")%</h2>
        
        @if (_resultModel.Violations.Count() == 1)
        {
            <h3>@_resultModel.Violations.Count() violation:</h3>
        }
        else
        {
            <h3>@_resultModel.Violations.Count() violations:</h3>
        }
        
        @foreach (var violation in _resultModel.Violations)
        {
            <Violation Model="violation" />
        }
    }
</div>