@using BPRBlazor.Components.Results
@using BPRBlazor.Components.Common
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inject IJSRuntime JsRuntime

@page "/results"

<div class="float-end">
    <button class="btn btn-primary" @onclick="DownloadPdf">
        Download as PDF
    </button>
</div>

<h1 class="result-pdf">Results</h1>
@if (_resultModel is null) 
{
    <h2>No results to display...</h2>
}
else 
{
    <div class="result-pdf">
        <h2>Score: @($"{_resultModel.Score:0.00}")%</h2>
        
        @if (_filteredViolations.Count == 1)
        {
            <h3>@_filteredViolations.Count violation:</h3>
        }
        else
        {
            <h3>@_filteredViolations.Count violations:</h3>
        }
    </div>
    <SelectViolationTypeComponent OnChange="HandleViolationType" Violations="GetCurrentViolationTypes()"/>
    <div class="result-pdf">
        @foreach (var violation in _filteredViolations)
        {
            <div class="violation">
                <Violation Model="violation" />
            </div>
        }
    </div>
}