.violation {
    margin: 2rem 1rem;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    padding: 1rem;
}

.violation-code-wrapper {
    background-color: #F2F2F2;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
}

.violation-code-wrapper > code {
    white-space: pre-wrap
}

.violation-severity {
    width: fit-content;
}

.violation-severity-minor {
    background-color: aqua;
}

.violation-severity-major {
    background-color: orange;
}

.violation-severity-critical {
    background-color: orangered;
}

.violation, .violation-code-wrapper, p, code { 
    page-break-inside: avoid !important;
    display: block;
}