<h3>@ArchitecturalComponent.Name</h3>
<div class="namespace-container">
    @foreach (var component in ArchitecturalComponent.NamespaceComponents)
    {
        <NamespaceComponent Namespace="component"/>
    }
</div>