@using BPRBE.Persistence
@using Microsoft.AspNetCore.Components.Web
@inject IDependencyRepository DependencyRepository
@if (architecturalOption == null)
{
    <div>Loading...</div>
}
else if(!architecturalOption.Any()){
    <div>Oops...something went wrong</div>
}
else {
    <select class="mb-5" @onchange="OnSelectedValueChanged">
        <option hidden>Select an architectural model</option>
        @foreach (var op in architecturalOption)
        {
            <option value="@op.Name">@op.Name</option>
        }
    </select>
}


