@using BPR.Mediator.Services
@using System.Globalization
@using BPR.Mediator.Interfaces
@using BPR.Model.Enums
@inject NavigationManager NavigationManager
@inject IResultService ResultService

<tr>
    <td>@Result.Title</td>
    <td>@Result.ResultStatus.ToString()</td>
    <td>@Result.ResultStart.ToLocalTime().ToString(CultureInfo.InvariantCulture)</td>
    <td>@(Result.ResultStatus != ResultStatus.Processing ? Result.ResultEnd.ToLocalTime().ToString(CultureInfo.InvariantCulture) : "")</td>

    <td>
    @if (Result.ResultStatus == ResultStatus.Finished)
    {
        <button class="btn btn-secondary h-100" @onclick="() => SeeDetails(Result.Id)">See details</button>
    }
    </td>
    <td>
        <button class="btn btn-danger oi oi-trash h-100" @onclick="() => DeleteAsync(Result.Id)"></button>
    </td>
</tr>