@using BPR.Mediator.Services
@using System.Globalization
@using BPR.Mediator.Interfaces
@using BPR.Model.Enums
@inject NavigationManager NavigationManager
@inject IResultService ResultService

<div class="result-row col-3">
    <p>Started: @Result.ResultStart.ToLocalTime().ToString(CultureInfo.InvariantCulture)</p>
    <p>Ended: @(Result.ResultStatus != ResultStatus.Processing ? Result.ResultEnd.ToLocalTime().ToString(CultureInfo.InvariantCulture) : "Not finished...")</p>

    <p>Status: @Result.ResultStatus.ToString()</p>
    
    <div class="d-flex justify-content-between">
        @if (Result.ResultStatus == ResultStatus.Finished)
        {
            <button class="btn btn-primary" @onclick="() => SeeDetails(Result.Id)">See details</button>
        }

        <button class="btn btn-danger" @onclick="() => DeleteAsync(Result.Id)">Delete</button>
    </div>
</div>