<div class="violation">
    <p class="violation-name">
        #@Model.Name 
        (<strong>@Model.Type.ToString()</strong>)
    </p>
    <p class="violation-description">@Model.Description</p>
    <p>Severity: 
        <span class="violation-severity violation-severity-@SeverityCssClass">@Model.Severity.ToString()</span>
    </p>
    <div class="violation-code-wrapper">
        @foreach (var line in Model.Code.Split("\n"))
        {
            <code>@line</code>
        }
    </div>
</div>