@using BPR.Model.Enums
<div class="violation">
    <p class="violation-name">
        <strong>#@(Enum.GetName(typeof(ViolationType), Model.Type) ?? string.Empty)</strong>
    </p>
    <p class="violation-description">@Model.Description</p>
    <p>Severity: 
        <span class="violation-severity violation-severity-@SeverityCssClass">@Model.Severity.ToString()</span>
    </p>
    <div class="violation-code-wrapper">
        @foreach (var line in Model.Code.Split("\n"))
        {
            <code>@line</code>
        }
    </div>
</div>