@inherits LayoutComponentBase
@using BPR.Mediator.Interfaces.Messaging;
@using BPR.Model.Requests;
@inject IConsumer<MLAnalysisResponseModel> MessageConsumerService
@implements IDisposable

<PageTitle>Architecture Analyzer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <p>@response</p>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
