@inherits LayoutComponentBase
@using BPR.Mediator.Interfaces.Messaging;
@using BPR.Mediator.Interfaces;
@using BPR.Model.Api;
@using BPRBlazor.Services;
@using MudBlazor
@inject IConsumer<MLAnalysisResponseModel> MessageConsumerService
@inject IResultService ResultService
@inject ToastService ToastService
@inject NavigationManager NavigationManager
@implements IDisposable

<PageTitle>Architecture Analyzer</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
