@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Architecture Analyzer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
