nav {
    background-color: #333333;
}

.navbar-wrapper {
    margin: 0 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
}

.navbar-brand {
    display: flex;
    font-size: 1.5rem;
    color: #ffffff;
}

.nav-item {
    display: flex;
    gap: 1.5rem;
}

.nav-item ::deep a {
    color: #eeeeee;
    border-bottom: solid 2px transparent;
    transition: 0s;
}

.nav-item ::deep a.active {
    border-bottom: solid 2px #ffffff;
    border-radius: 15px;
}

.nav-item ::deep a:hover {
    border-bottom: solid 2px #ffffff;
    border-radius: 15px;
    transition: 0.5s;
}

@media (max-width: 860px) {
    .navbar-brand {
        display: none;
    }

    .nav-item {
        justify-content: space-around;
        width: 100%;
        margin: 0;
    }
}