<nav>
    <div class="navbar-wrapper">
        <a class="navbar-brand" href="">Architecture Analyzer</a>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Analysis
            </NavLink>
            <NavLink class="nav-link" href="manage-models" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Architectures
            </NavLink>
            <NavLink class="nav-link" href="results" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Results
            </NavLink>
        </div>
    </div>
</nav>