.draggable-boundary {
    width: 100%;
    height: 70vh;
    border: 1px dashed #b3b3b3;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.component {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    width: 10rem;
    cursor: move;
}

.component-header {
    padding: 10px;
    background-color: #2196F3;
}
