.draggable-boundary {
    width: 100%;
    border: 4px dashed #b3b3b3;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.component {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    text-align: center;
    width: 10rem;
    cursor: move;
}

.dependency-options {
    min-height: 5rem;
    min-width: 5rem;
    position: absolute;
}

.dependency-options:hover a {
    opacity: 1;
}

.dependency-options a {
    margin-top: 3rem;
    transition: visibility 0s, opacity 0.2s ease-in;
    opacity: 0;
}

.component-name {
    padding: 2rem;
}