@page "/results"

<h1 class="mt-4">Results</h1>

@if (_resultModel is null) {
    <h2>No results to display...</h2>
}
else {
    <h2>Score: @string.Format("{0:0.00}", _resultModel.Score)%</h2>
    <h3>Violations:</h3>
    @foreach (var violation in _resultModel.Violations)
    {
        <Violation Model="violation" />
    }
}